NEXT_PUBLIC_BACKEND_URL=http://localhost:3000
NEXT_PUBLIC_AEGIS_ADDRESS=0x...
NEXT_PUBLIC_MOCK_DEFI_ADDRESS=0x...
NEXT_PUBLIC_EXPLORER_URL=https://testnet-explorer.hsk.xyz
NEXT_PUBLIC_LANDING_URL=https://aegis-protocol.vercel.app
